@media print {
  body * {
    visibility: hidden;   
  }
  #relatorio, #relatorio * {
    visibility: visible;  
  }
  #relatorio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

body{
    background-color: rgb(20, 20, 20);
    height: 2000px;
    color: rgb(255, 255, 255);
}

.logo{
    height: 270px;
}

form {
  background: rgb(7, 7, 7);
  max-width: 600px;
  margin: 40px auto;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(10, 10, 10, 0.1);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
}

fieldset {
  border: 2px solid #ece7eeea;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  
}

header {
  background-image: url(imagens/qualidade.);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

button {
  background-color: #f7f0f0;
  color: rgb(247, 163, 163);
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  transition: background 0.1s;
}

button:hover {
  background-color: #0a0a0a;
}

